*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --cream: #faedcd;
  --lgreen: #b2c9ab;
  --green: #49a078;
  --light-grey: #f5f6f7;
  --dark-blue: #1b1b32;
  --peach: #ef8354;
  --leaf: #d8f3dc;
  --sea: #0a9396;
  --yellow: #f5b700;
  --white: #fffffc;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  align-items: center;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  font-size: 1.125rem;
  color: var(--light-grey);
  background-image: linear-gradient(#faedcd, #e3d5ca, #d4a373, #b08968);
  background-size: cover;
  padding: 0 4px;
}

h1 {
  font-size: 2.125rem;
  text-align: center;
  margin: 100px 10px 30px 0px;
  color: var(--green);
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: clamp(320px, 50vw, 460px);
  margin-right: 20px;
  color: var(--sea);
  
}

.input-container label {
  white-space: nowrap;
  word-spacing: -6px;
}

.convert-btn {
  font-size: inherit;
  font-family: inherit;
  background-color: var(--lgreen);
  width: 100%;
  height:100%;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px;
  margin-left: 20px;
}

.convert-btn:hover {
 background-color: var(--leaf);
 border-color: var(--green);
}

.number-input {
  font-size: inherit;
  padding: 0.6rem;
  width: 100%;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.low-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  
}
.output-container {
  margin-inline: auto;
  width: clamp(320px, 50vw, 460px);
}

#result {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  min-height: 80px;
  margin-block-start: 20px;
  padding: 15px;
  border: 2px solid var(--green);
  border-radius: 8px;
  margin-top:50px;
  margin-bottom:20px;
  color: var(--sea);
  background-color: var(--cream);
}

.reset-btn {
  font-size: inherit;
  font-family: inherit;
  background-color: var(--lgreen);
  width: 100%;
  height:100%;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px;
  gap: 10px;
  margin-top: 30px;
}

.reset-btn:hover {
 background-color: var(--leaf);
 border-color: var(--green);
}

  .input-container {
    flex-direction: row;
    width: unset;
  }

  .number-input {
    width: unset;
  }
}
